
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-color: bisque;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, .8);
    font-size: clamp(10px, 3vw, 16px);
    width: 100%;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: clamp(12px, 3vw, 30px);
    padding-right: clamp(12px, 3vw, 30px);
    margin: 0 0 30px;
    border-radius: 5px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    width: 100%;
    aspect-ratio: 3/4;
    background-color: gray;
    border-radius: 5px;
    position: relative;
    transition:  all  400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.front{
    transform: rotateY(180deg);
    /* filter: grayscale(1); */
}

.back{
    background-image: url('../images/back.png');
    border: 2px solid #39813a;
    backface-visibility: hidden;
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: .5;
}


/* finally-game */

/* HEAD */
.finally-game-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(20px, 3vw, 30px);
}

.finally-game-head{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: clamp(60px, 10vw, 200px); */
}

.image-finally{
    width: 30%;
}

.finally-title{
    font-size: clamp(20px, 3vw, 32px);
}

.user{
    margin-top: clamp(20px, 3vw, 30px);
    font-size: clamp(12px, 1vw, 24px);
    color: brown;
}
.time-user{
    margin: clamp(20px, 3vw, 30px);
    font-size: clamp(12px, 1vw, 24px);
    color: brown;
}

/* BUTTONS */
.finally-game-buttons{
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 3vw, 30px);
}

.finally-game-button{
    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px 30px;
    width: 100%;
    font-size: clamp(12px, 3vw, 16px);
}

.finally-game-button:hover{
    background-color: rgb(238, 102, 92, .8);
}

.finally-game-icon{
    font-size: clamp(20px, 3vw, 24px);
}


/* HIGHSCORE */
.highscore-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(20px, 3vw, 30px);
}
.highscore-times{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 3vw, 30px);

}
.highscore-head{
    /* background-color: rebeccapurple */
    display: flex;
    font-size:clamp(10px, 3vw, 20px);
    color: #ee665c;
    justify-content: space-between;
    /* gap: clamp(100px, 10vw, 150px); */
}
.highscore-usersTime{
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3vw, 30px);
    overflow: auto;
    max-height: 30vh;
}
.highscore-userTime{
    font-size: clamp(6px, 3vw, 16px);
    display: flex;
    justify-content: space-between;
    /* gap: clamp(100px, 10vw, 150px); */
}


th,td{
    box-sizing: border-box;
    width: 100%;
    padding-top: clamp(16px, 5vw, 30px);
    padding-bottom: clamp(16px, 5vw, 30px);
    padding-left: clamp(20px, 5vw, 40px);
    padding-right: clamp(20px, 5vw, 40px);
    font-size:clamp(10px, 3vw, 20px);
    border-collapse: collapse;
    text-align: center;
}
table,th,td{
    border: 2px solid black;
}

table{
    border-collapse: collapse;
    display: inline-block;
    overflow: auto;
    max-height: 40vh;
    max-width: 80%;
    position: relative;
    cursor: text;
}

thead{
    position: sticky;
    z-index: 100;
    color: white;
    top: 0;
    background-color: #333;
}

table tbody tr:nth-child(odd){
    background-color: #ee665c;
    color: white;
}


/* GAMES OPTIONS */

.games-options{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.games-option{
    width: 50%;
    min-width: 500px;
    height: 100vh;;
    position: relative;
}


.games-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.games-button{
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 16px;
    top: 0;
    font-size: 32px;
    background-color: rgb(0, 0, 0, .3);
    box-shadow: 3px 3px 3px  white;
    color: white;
    z-index: 500;
}
.games-button .button-games{
    width: 100%;
    font-size: 32px;
    padding: 16px;
    cursor: pointer;
    border: 1px solid black;
}
.button-games:hover{
    background-color: black;
    color: white;
}
.games-button:hover{
    background-color: transparent;
    color: black;
}


@media screen and (max-width: 1000px) {
    .games-option{
        width: 100%;
    }
}

